---
layout: barcodeslayout
---

<div class="docs-container">
	<div class="page-sidebar">
		{% include nav-sub.html %}
	</div>

	<div class="page-content">
		{{ content }}
	</div>
</div>

<script>
// toggle sub-menu
var menuToggle = document.querySelector('.page-sidebar-toggle');
menuToggle.addEventListener('click', function(ev) {
	var nav = this.nextElementSibling;
	if (nav.classList.contains('expanded'))
		nav.classList.remove('expanded');
	else
		nav.classList.add('expanded');
});
</script>

<script>
$('document').ready(function() {
	$('#generateBarcode').on('click', function() {	
		var barcodeValue = $("#barcodeValue").val();
		var barcodeType = $("#barcodeType").val();	
		var showText = $("#showText").val();		
		var barcodeWidth = $("#barcodeWidth").val();
		var barcodeHeight = $("#barcodeHeight").val();	
		var barcodeFontSize = $("#barcodeFontSize").val();	
		var barcodeLineColor = $("#barcodeLineColor").val();	
		JsBarcode("#barcode", barcodeValue, {
			format: barcodeType,
			displayValue: showText,
			width: barcodeWidth,
			height: barcodeHeight,
			fontSize: barcodeFontSize,
			lineColor: barcodeLineColor
		});		
		
	});
});
</script>
